<section>
                      <ion-header-bar class="bar bar-header">
                <div class="ion-header" style="width: 100%">

                    <div style="margin-top: 2%;">

                        <button class="button button-icon icon button-back" ng-click="BacktoGroup()"></button>

                        <input type="text" class="search-area-class js-filter  form-control" style="width: 75% !important;" placeholder="Type new group name">
                        <button class="button button-icon icon button-create create-group-tick" ng-click="createGroup()"></button>
                    </div>

                </div>
            </ion-header-bar>
			<ion-content>
                            <div class="create-group-div">
                                <input type="text" class="search-area-class-filter form-control" placeholder="Search..." style="width: 95% !important;margin-top: 10px;">
                            </div>
                            <ion-list class="js-dynamitable">
                    <a class="item item-avatar a-class-border" ng-click="changePath()">
                        <img src="images/sundar.jpg">
                        <h2 class="display-inline item-center-list">Sundar</h2>
                       <button class="custom-button-group button-select-user-activated float-right" ng-click="SelectUser()"></button>
                    </a>
                    <a class="item item-avatar a-class-border" ng-click="changePath()">
                        <img src="images/sundar.jpg">
                        <h2 class="display-inline item-center-list">Sundar</h2>
                       <button class="custom-button-group button-select-user float-right" ng-click="SelectUser()"></button>
                    </a>
                    <a class="item item-avatar a-class-border" ng-click="changePath()">
                        <img src="images/sundar.jpg">
                        <h2 class="display-inline item-center-list">Sundar</h2>
                       <button class="custom-button-group button-select-user float-right" ng-click="SelectUser()"></button>
                    </a>
                   <a class="item item-avatar a-class-border" ng-click="changePath()">
                        <img src="images/sundar.jpg">
                        <h2 class="display-inline item-center-list">Sundar</h2>
                       <button class="custom-button-group button-select-user-activated float-right" ng-click="SelectUser()"></button>
                    </a>
                </ion-list>
		  </ion-content>

	</section>
