<section>
    <ion-side-menus>
        <ion-side-menu-content>
            <ion-header-bar class="bar bar-header">
                <div class="ion-header" style="width: 100%">
                    <div class="" ng-hide="isSerachtrue">
                        <button class="button button-icon icon button-setting custom-button-group toggle-class-left" style="margin-right: 15px;" ng-click="toggleSideBar()"></button>
                        <button class="button button-icon icon button-group custom-button-group toggle-class-left" ng-click="goToGroup()"></button>
                        <button class="button button-icon icon button-user custom-button-group toggle-class-left" ng-click="goToContact()"></button>
                        <button class="button button-icon icon button-search custom-button-group toggle-class-left" ng-click="showsearchBar()"></button>

                    </div>
                    <div class="" ng-show="isSerachtrue">

                        <button class="button button-icon icon button-back" ng-click="hideSerarchbar()"></button>

                        <input type="text" class="search-area-class js-filter  form-control" placeholder="Search...">   
                    </div>

                </div>	 
            </ion-header-bar>
            <ion-content>
                <ion-list class="js-dynamitable">
                    <a class="item item-avatar a-class-border" ng-click="changePath()">
                        <img src="images/satya.jpg">
                        <h2 class="display-inline">Satya</h2>
                        <span class="time-stamp float-right">11:45 PM</span>
                        <p style="padding-top: 5px;"><span class=""><img src="images/Blue-tick2.png" class="tick-image-class"></span>Have you tried Kotana ?</p>
                    </a>
                    <a class="item item-avatar a-class-border" ng-click="changePath()">
                        <img src="images/sundar.jpg">
                        <h2 class="display-inline">Sundar</h2>
                        <span class="time-stamp float-right">01:45 AM</span>
                        <p style="padding-top: 5px;"><span class=""><img src="images/Blue-tick2.png" class="tick-image-class"></span>Oh Kotana is crap, use google voice :D</p>
                    </a>
                    <a class="item item-avatar a-class-border" ng-click="changePath()">
                        <img src="images/turing.jpg">
                        <h2 class="display-inline">Alan Turing</h2>
                        <span class="time-stamp float-right">09:32 AM</span>
                        <p style="padding-top: 5px;"><span class=""><img src="images/Blue-tick2.png" class="tick-image-class"></span>VOILA!!! I broke the Enigma.</p>
                    </a>
                    <a class="item item-avatar a-class-border" ng-click="changePath()">
                        <img src="images/rajni.jpg">
                        <h2 class="display-inline">Rajni</h2>
                        <span class="time-stamp float-right">01:45 PM</span>
                        <p style="padding-top: 5px;"><span class=""><img src="images/Blue-tick2.png" class="tick-image-class"></span>Mind It!! Rascals</p>
                    </a>
                    <a class="item item-avatar a-class-border" ng-click="changePath()">
                        <img src="images/ram.jpeg">
                        <h2 class="display-inline">Ramanujan</h2>
                        <span class="time-stamp float-right">09:45 PM</span>
                        <p style="padding-top: 5px;"><span class=""><img src="images/Blue-tick2.png" class="tick-image-class"></span>That equation seems fine.</p>
                    </a>
                    <a class="item item-avatar a-class-border" ng-click="changePath()">
                        <img src="images/elon.jpg">
                        <h2 class="display-inline">Elon Musk</h2>
                        <span class="time-stamp float-right">12:45 PM</span>
                        <p style="padding-top: 5px;"><span class=""><img src="images/Blue-tick2.png" class="tick-image-class"></span>Have you tried my new EP2... ;)</p>
                    </a>
                </ion-list>
                
            </ion-content>
            <ion-footer-bar keyboard-attach="" class="bar-stable item-input-inset bar bar-footer" style="background:#848484;">
                <div class="" style="text-align: center;width: 100%;">
                    <p style="margin-top: 10px;">Advt.</p>
                </div>
                </ion-footer-bar>
        </ion-side-menu-content>

        <ion-side-menu side="right">
            <ion-header-bar>
                <h1 class="title">Settings</h1>

            </ion-header-bar>
            <ion-content scroll="false">
                <ion-list>
                    <ion-item>View Contact</ion-item>
                    <ion-item>Call</ion-item>
                    <ion-item>Block</ion-item>
                </ion-list>
            </ion-content>
        </ion-side-menu>
    </ion-side-menus>
</section>