<style>

	.list {
		height: 31.5%;
	}

	::-webkit-input-placeholder {
    color:    #000;
}
:-moz-placeholder {
    color:    #000;
}
.chat {
    width: 100%;
}

.bubble{
    background-color: #F2F2F2;
    border-radius: 5px;
    box-shadow: 0 0 6px #B2B2B2;
    display: inline-block;
    padding: 10px 18px;
    position: relative;
    vertical-align: top;
}

.bubble::before {
    background-color: #F2F2F2;
    content: "\00a0";
    display: block;
    height: 16px;
    position: absolute;
    top: 11px;
    transform:             rotate( 29deg ) skew( -35deg );
        -moz-transform:    rotate( 29deg ) skew( -35deg );
        -ms-transform:     rotate( 29deg ) skew( -35deg );
        -o-transform:      rotate( 29deg ) skew( -35deg );
        -webkit-transform: rotate( 29deg ) skew( -35deg );
    width:  20px;
}

.me {
    float: left;
    margin: 5px 45px 5px 20px;
		background: #FFDDAB !important;
		max-width: 60%;
}

.me::before {
    box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
    left: -9px;
		background: #FFDDAB !important;
}

.you {
    float: right;
    margin: 5px 20px 5px 45px;
		background: #DCDCDC !important;
		max-width: 60%;
		display:block;
}

.you::before {
    box-shadow: 2px -2px 2px 0 rgba( 178, 178, 178, .4 );
    right: -9px;
		background: #DCDCDC !important;
}


	</style>
<section style="height: 100%;">
    	<ion-header-bar class="bar bar-header">
	      <button class="button button-icon icon button-back" ng-click="myGoBack()"></button>
	      <img src="images/sundar.jpg" class="chat-user-image">
	      <span class="chat-user-name" style="margin-top: 2% !important;">Sundar</span>
		<button class="button button-icon icon custom-button-group close-button-setting toggle-class-left chat-user-setting" ng-show="displaySideBar" ng-click="toggleSideBar()"></button>
				 <button class="button button-icon icon custom-button-group button-setting toggle-class-left chat-user-setting" ng-show="!displaySideBar" ng-click="toggleSideBar()"></button>
      </ion-header-bar>
			<ion-content>
                            <div class="" style="text-align: center;margin-bottom: 20px;font-weight: 600">
                                Yesterday
                            </div>
				<div class="chat">
					<div style="width: 100%;">
                                            <div class="bubble me">Hello there! <div style="float: right;font-size: 11px;margin-left: 20px;">9:40PM</div></div>
					</div>
					<div style="width: 100%;">
						<div class="bubble you">Hi. I'm an expandeable chat box with box shadow. How are you? I expand horizontally and vertically, as you can see here.<div style="float: right;font-size: 11px;margin-left: 20px;">9:40PM</div></div>
					</div>
					<div style="width: 100%;">
                                            
                                            <div class="bubble me"><div>~ Rahul Kumar</div>Awesome. <div style="float: right;font-size: 11px;margin-left: 20px;">9:40PM</div></div>
					</div>
					<div style="width: 100%;">
						<div class="bubble you">The layout of links in system messages in the chatlog pane when the customer hovers the mouse over the link.<div style="float: right;font-size: 11px;margin-left: 20px;">9:40PM</div></div>
					</div>
				</div>
				<div class="attachment-popup" ng-show="displayAttachment">
					<div>
						<span class="float-left" style="border-right: 2px solid #848484;">
							<img src="images/Attach_Photo_64.png" alt="attach photo" />
						</span>
						<span class="float-right">
							<img src="images/Attach_Contacts_64.png" alt="attach contact" />
						</span>
					</div>
					<div style="border-top: none;">
						<span class="float-left" style="border-right: 2px solid #848484;">
							<img src="images/Attach_Camera_64.png" alt="take a photo" />
						</span>
						<span>
						</span>
					</div>
				</div>

			</ion-content>

      <ion-footer-bar keyboard-attach="" class="bar-stable item-input-inset bar bar-footer">
				<button class="button button-icon icon button-show-attachemnt"
				ng-click="showAttachment()" style="width:20%; margin-left: -3%; margin-right: -8%;"></button>
				<input type="text" class="send-message-text-area" placeholder="Type message">
				<button type="submit" class="emoticons-class"><img src="images/emoticon85.png" alt="Arrow Icon"></button>
      <button class="button button-clear" style="margin-left:0; width: 20%; margin-right: -3%;" ng-click="sendMessage()">
				<img src="images/Send_32.png" alt="send" />
			</button>
    </ion-footer-bar>

	<div class="float-right" id="settings-popup" ng-show="displaySideBar">
		<ion-list style="background: #848484; height: 100%;">
			<ion-item class="grey-background">
				<img class="settings-images" src="images/Main_Contacts_32.png" alt="contact info" />
				<span class="settings-text">Contact Info</span>
			</ion-item>
			<ion-item class="grey-background">
				<img class="settings-images" src="images/Settings_Call_32.png" alt="call" />
				<span class="settings-text">Call</span>
			</ion-item>
			<ion-item class="grey-background">
				<img class="settings-images" src="images/Block_32.png" alt="block" />
				<span class="settings-text">Block</span>
			</ion-item>
			<ion-item class="grey-background">
				<img class="settings-images" src="images/Settings_Tool_32.png" alt="settings" />
				<span class="settings-text">Settings</span>
			</ion-item>
		</ion-list>
	</div>
	</section>
