
<section>
            <ion-header-bar class="bar bar-header">
                <div class="ion-header" style="width: 100%">

                    <div style="margin-top: 2%;">

                        <button class="button button-icon icon button-back" ng-click="BacktoChat()"></button>

                        <input type="text" class="search-area-class js-filter  form-control" placeholder="Search...">
                    </div>

                </div>
            </ion-header-bar>
            <ion-content>
                <ion-list class="js-dynamitable">
                    <a class="item item-avatar a-class-border" ng-click="changePath()">
                        <img src="images/satya.jpg">
                        <h2 class="display-inline item-center-list">Satya</h2>

                    </a>
                    <a class="item item-avatar a-class-border" ng-click="changePath()">
                        <img src="images/sundar.jpg">
                        <h2 class="display-inline item-center-list">Sundar</h2>

                    </a>
                    <a class="item item-avatar a-class-border" ng-click="changePath()">
                        <img src="images/turing.jpg">
                        <h2 class="display-inline item-center-list">Alan Turing</h2>

                    </a>
                    <a class="item item-avatar a-class-border" ng-click="changePath()">
                        <img src="images/rajni.jpg">
                        <h2 class="display-inline item-center-list">Rajni</h2>

                    </a>
                    <a class="item item-avatar a-class-border" ng-click="changePath()">
                        <img src="images/ram.jpeg">
                        <h2 class="display-inline item-center-list">Ramanujan</h2>

                    </a>
                    <a class="item item-avatar a-class-border" ng-click="changePath()">
                        <img src="images/elon.jpg">
                        <h2 class="display-inline item-center-list">Elon Musk</h2>

                    </a>
                </ion-list>

            </ion-content>
            <ion-footer-bar keyboard-attach="" class="bar-stable item-input-inset bar bar-footer" style="background:#848484;">
                <div class="" style="text-align: center;width: 100%;">
                    <p style="margin-top: 10px;">Advt.</p>
                </div>
                </ion-footer-bar>

</section>
