<section>
                      <ion-header-bar class="bar bar-header">
                <div class="ion-header" style="width: 100%">
                    
                    <div class="">

                        <button class="button button-icon icon button-back" style="margin-top: 10px;" ng-click="BacktoEditGroup()"></button>
                        <button class="button chat-user-name" style="margin-left: 10%;margin-top: 7px !important;">Friends1</button>
                        <button class="button button-icon icon button-create float-right" style="margin-top: 10px;" ng-click="SetGroup()"></button>
                        <button class="button button-icon icon button-add-user-group edit-group-class float-right" style="margin-top: 10px;" ng-click="addContact()"></button>
                    </div>

                </div>	 
            </ion-header-bar>
			<ion-content>
                            <div class="create-group-div">
                             <input type="text" class="search-area-class-filter form-control" placeholder="Search...">    
                            </div>
                            <ion-list class="js-dynamitable">
                    <a class="item item-avatar a-class-border" ng-click="changePath()">
                        <img src="images/satya.jpg">
                        <h2 class="display-inline item-center-list h2-font-wieght">Satya</h2>
                        <button class="button button-icon button-select-user-activated icon custom-button-group float-right" ng-click="SelectUser()"></button>
                       
                    </a>
                    <a class="item item-avatar a-class-border" ng-click="changePath()">
                        <img src="images/sundar.jpg">
                        <h2 class="display-inline item-center-list h2-font-wieght">Sundar</h2>
                       <button class="button button-icon button-select-user-activated icon custom-button-group float-right" ng-click="SelectUser()"></button>
                    </a>
                    <a class="item item-avatar a-class-border" ng-click="changePath()">
                        <img src="images/turing.jpg">
                        <h2 class="display-inline item-center-list h2-font-wieght">Alan Turing</h2>
                       <button class="button button-icon button-select-user-activated icon  custom-button-group float-right"  ng-click="SelectUser()"></button>
                    </a>
                    <a class="item item-avatar a-class-border" ng-click="changePath()">
                        <img src="images/rajni.jpg">
                        <h2 class="display-inline item-center-list h2-font-wieght">Rajni</h2>
                       <button class="button button-icon button-select-user-activated icon custom-button-group float-right" ng-click="SelectUser()"></button>
                    </a>
                </ion-list>
		  </ion-content>
		
	</section>