<section>
  <ion-header-bar class="bar bar-header">
    <div class="ion-header" style="width: 100%">
      <div style="margin-top: 2%;">
        <button class="button button-icon icon button-back" ng-click="BacktoGroup()" style="width: 40px;"></button>
        <input type="text" ng-model="newGroupName" class="search-area-class js-filter  form-control" style="width: 70% !important;" placeholder="Type new group name">
        <button class="button button-icon icon button-create create-group-tick" ng-click="createGroup()" style="width: 40px;"></button>
      </div>
    </div>
  </ion-header-bar>
	<ion-content>
    <div class="create-group-div">
        <input type="text" ng-model="search" class="search-area-class-filter form-control" placeholder="Search..." style="width: 95% !important;margin-top: 10px;">
    </div>
    <ion-list>
      <a class="item item-avatar a-class-border" ng-click="changePath()" ng-repeat="contact in userInfo | filter: search | orderBy:'username'">
        <img ng-src="{{contact.profile_image}}">
        <h2 class="display-inline item-center-list">{{contact.username}}</h2>
        <button class="custom-button-group button-select-user float-right" ng-click="SelectUser($event, contact.user_id)">
        </button>
      </a>
    </ion-list>
  </ion-content>
	</section>
