<style>
	.list {
		height: 31.5%;
	}
	::-webkit-input-placeholder {
    color: #000;
}
:-moz-placeholder {
    color: #000;
}
.chat {
    width: 100%;
}

.bubble{
    background-color: #F2F2F2;
    border-radius: 5px;
    box-shadow: 0 0 6px #B2B2B2;
    display: inline-block;
    padding: 10px 18px;
    position: relative;
    vertical-align: top;
}

.bubble::before {
    background-color: #F2F2F2;
    content: "\00a0";
    display: block;
    height: 16px;
    position: absolute;
    top: 11px;
    transform:             rotate( 29deg ) skew( -35deg );
        -moz-transform:    rotate( 29deg ) skew( -35deg );
        -ms-transform:     rotate( 29deg ) skew( -35deg );
        -o-transform:      rotate( 29deg ) skew( -35deg );
        -webkit-transform: rotate( 29deg ) skew( -35deg );
    width:  20px;
}

.me {
    float: right;
    margin: 5px 15px 5px 20px;
		background: #FFDDAB !important;
		max-width: 60%;
		clear: both;
}

.me::before {
    box-shadow: 0 0 2px 0 rgba( 178, 178, 178, .4 );
    right: -9px;
		background: #FFDDAB !important;
}

.you {
    float: left;
    margin: 5px 20px 5px 15px;
		background: #DCDCDC !important;
		max-width: 60%;
		display: block;
		clear: both;
}

.you::before {
    box-shadow: 2px -2px -2px 0 rgba( 178, 178, 178, .4 );
    left: -8px;
		background: #DCDCDC !important;
}
</style>
<section style="height: 100%;">
	<ion-header-bar class="bar bar-header">
	  <button style="margin-top: 2%;" class="button button-icon icon button-back" ng-click="myGoBack()"></button>
	  <img ng-src="{{paramDetails.profile_image}}" class="chat-user-image" style="margin-top: 1%;">
	  <span class="chat-user-name" style="margin-top: 3% !important;" ng-show="individualChatFlag">{{paramDetails.username}}</span>
		<span class="chat-user-name" style="margin-top: 3% !important;" ng-hide="individualChatFlag">{{groupDetails.block_name}}</span>
		<button class="button button-icon icon  close-button-setting custom-button-group toggle-class-left" style="margin-left:37%;width: 100%" ng-show="displaySideBar" ng-click="toggleSideBar()"></button>
		<button style="margin-top: 2%;margin-right: 20px;" class="button button-icon icon custom-button-group button-setting toggle-class-left chat-user-setting" ng-show="!displaySideBar" ng-click="toggleSideBar()"></button>
	</ion-header-bar>
	<ion-content delegate-handle="chatScroll">
  	<div class="chat" ng-show="individualChatFlag" ng-repeat="msg in chatMessages">
			<div>
			<div style="width: 100%;">
      	<div class="bubble me" ng-hide="msg.message == '' && msg.imageId == 0"
				 ng-if="(msg.from==userInfo.user_id && msg.to==paramDetails.user_id) || (msg.from==userInfo.user_id &&
				 msg.to == '-1' && (msg.blockedId == paramDetails.user_id || msg.blockedId == userInfo.user_id))">
					<span>{{msg.message}}</span>
					<div ng-if="msg.imageId != 0" ng-show="msg.imageId == image._id" ng-repeat="image in imageMessages">
						<img style="height: 170px; width: 170px;" ng-if="msg.createdAt < image.uploadedAt" ng-src="{{image.url()}}">
					</div>
					<span class="time-stamp" am-time-ago="msg.createdAt"></span>
					<span ng-show="msg.msgReached"><img src="images/Blue-tick2.png" class="tick-image-class"></span>
				</div>
			</div>
			<!-- <div style="width: 100%;" ng-hide="msg.to == '-1' && msg.from == userInfo.user_id"> -->
			<div style="width: 100%;">
				<div class="bubble you" ng-hide="msg.message == '' && msg.imageId == 0"
				 ng-if="msg.from==paramDetails.user_id && msg.to==userInfo.user_id">
					<span>{{msg.message}}</span>
						<div ng-if="msg.imageId != 0" ng-show="msg.imageId == image._id" ng-repeat="image in imageMessages">
							<img style="height: 170px; width: 170px;" ng-if="msg.createdAt < image.uploadedAt"
							 ng-src="{{image.url()}}">

						 </div>
						 <span class="time-stamp" am-time-ago="msg.createdAt"></span>
					 </div>
				 </div>
			 </div>
		 </div>

	<div class="chat" ng-show="!individualChatFlag" ng-repeat="msg in chatMessages">
		<div>
		<div style="width: 100%;">
			<div class="bubble me" ng-hide="msg.message == '' && msg.imageId == 0"
			 ng-if="msg.from==userInfo.user_id && msg.to==groupDetails.block_id">
				<span>{{msg.message}}</span>
				<div ng-if="msg.imageId != 0" ng-show="msg.imageId == image._id" ng-repeat="image in imageMessages">
					<img style="height: 170px; width: 170px;" ng-if="msg.createdAt < image.uploadedAt" ng-src="{{image.url()}}">
				</div>
				<span class="time-stamp" am-time-ago="msg.createdAt"></span>
			</div>
		</div>
		<div style="width: 100%;">
			<div class="bubble you" ng-hide="msg.message == '' && msg.imageId == 0"
			 ng-if="msg.to==groupDetails.block_id && msg.from != userInfo.user_id">
			  <span class="fromName">~{{msg.fromName}}</span>
				<span>{{msg.message}}</span>
					<div ng-if="msg.imageId != 0" ng-show="msg.imageId == image._id" ng-repeat="image in imageMessages">
						<!-- <span class="fromName">~{{msg.fromName}}</span> -->
						<img style="height: 170px; width: 170px;" ng-if="msg.createdAt < image.uploadedAt"
						 ng-src="{{image.url()}}">
						 <span class="time-stamp" am-time-ago="msg.createdAt"></span>
					 </div>
				 </div>
			 </div>
		 </div>
			<!-- <div style="width: 100%;" ng-repeat="msg in chatMessages">
      	<div class="bubble me" ng-if="msg.from==userInfo.user_id && msg.to==groupDetails.block_id">
					<span>{{msg.message}}</span>
					<span class="time-stamp" am-time-ago="msg.createdAt"></span>
				</div>
			</div>
			<div style="width: 100%;">
				<div class="bubble you" ng-if="msg.to==groupDetails.block_id && msg.from != userInfo.user_id">
					<span class="fromName">~{{msg.fromName}}</span>
					<span>{{msg.message}}</span>
					<span class="time-stamp" am-time-ago="msg.createdAt"></span>
				</div>
			</div> -->
		</div>
	</ion-content>
  <ion-footer-bar keyboard-attach="" class="bar-stable item-input-inset bar bar-footer">
		<!--button class="button button-icon icon button-show-attachemnt"
		ng-click="showAttachment()" style="margin-left: -1%;"></button-->
		<span class="button-show-attachment">
			<!--input type="file" accept="image/*" ng-click="uploadImage()"
			class="button button-icon icon" style="margin-left: -1%;"-->
			<!--input type="file" class="button"  ngf-select="" ngf-change="addImages($files)" ngf-multiple="false"
			ngf-allow-dir="false" ngf-accept="'image/*'"-->
			<input type="file" ngf-select="" name="file" ngf-accept="'image/*'" accept="image/*"
			ngf-change="sendMessage($files)" style="width: inherit;" >
		</span>
		<input type="text" class="send-message-text-area" placeholder="Type message" ng-model="enterMessage"
		ng-focus="inputUp()" ng-blur="inputDown()">
		<button type="submit" class="emoticons-class"><img src="images/emoticon85.png" alt="Arrow Icon"></button>
    <button class="button button-clear" style="margin-left:0; width: 20%; margin-right: -3%;margin-top: 7px;" ng-click="sendMessage()">
		<img src="images/Send.png" alt="send" />
	</button>
</ion-footer-bar>

<div class="float-right" id="settings-popup" ng-show="displaySideBar">
		<ion-list style="background: #848484; height: 100%;">
			<ion-item class="grey-background" ng-click="toggleSideBar();">
      	<img class="settings-images" src="images/Main_Contacts.png" style="margin-top:40px !important;" alt="contact info" />
				<span class="settings-text">Contact Info</span>
			</ion-item>
			<ion-item class="grey-background" ng-click="toggleSideBar();">
				<img class="settings-images" src="images/Settings_Call.png" style="margin-top:20px !important;" alt="call" />
				<span class="settings-text">Call</span>
			</ion-item>
			<ion-item class="grey-background" ng-click="blockUser();toggleSideBar();">
				<img class="settings-images" src="images/Settings_Block.png" style="margin-top:0px !important;" alt="block" />
				<span class="settings-text">Block</span>
			</ion-item>
			<ion-item class="grey-background" ng-click="toggleSideBar();">
				<img class="settings-images" src="images/Settings_Tools.png" style="margin-top:0px !important;" alt="settings" />
				<span class="settings-text">Settings</span>
			</ion-item>
		</ion-list>
	</div>
</section>
