<style>
.list {
  height: 31.5%;
}
span > img{
  position: absolute;
  top: 16px;
  left: 16px;
  max-width: 40px;
  max-height: 40px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
</style>
<section style="height:100%">
  <ion-header-bar class="bar bar-header">
      <div class="ion-header" style="width: 100%">
          <div class="" ng-hide="isSearchtrue" style="margin-right: 15px;">
              <button class="button button-icon icon  close-button-setting custom-button-group toggle-class-left" ng-if="displaySideBar" ng-click="toggleSideBar()"></button>
              <button class="button button-icon icon  button-setting custom-button-group toggle-class-left" ng-if="!displaySideBar" ng-click="toggleSideBar()"></button>
              <button class="button button-icon icon button-group custom-button-group toggle-class-left" ng-click="goToGroup()"></button>
              <button class="button button-icon icon button-user custom-button-group toggle-class-left" ng-click="goToContact()"></button>
              <button class="button button-icon icon button-search custom-button-group toggle-class-left" ng-click="showsearchBar()"></button>
          </div>
          <div ng-show="isSearchtrue">
              <button style="margin-top: 2%;" class="button button-icon icon button-back" ng-click="hideSearchbar()"></button>
              <input type="text" ng-model="search" class="search-area-class js-filter  form-control" placeholder="Search...">
          </div>
      </div>
  </ion-header-bar>
  <ion-content>
    <ion-list>
      <span ng-if="isLoading" sytle="position: absolute; top:128%; left:50%; z-index: 1000;">
        <ion-spinner></ion-spinner>
      </span>
      <a class="item item-avatar a-class-border" ng-repeat="recent in recentMessages| filter: search">
          <span ng-if="recent.sender.user_id != current.user_id && recent.groupMessage == false" ng-click="changePath(recent.sender)">
            <img ng-src="{{recent.sender.profile_image}}">
            <h2 class="display-inline h2-font-weight">{{recent.sender.username}}</h2>
            <span class="time-stamp float-right" am-time-ago="recent.createdAt"></span>
            <p style="padding-top: 5px;">
                <img ng-if="recent.msgReached" src="images/Blue-tick2.png" class="tick-image-class">
                <span>{{recent.message}}</span>
            </p>
          </span>
          <span ng-if="recent.receiver.user_id != current.user_id && recent.groupMessage == false" ng-click="changePath(recent.receiver)">
            <img ng-src="{{recent.receiver.profile_image}}">
            <h2 class="display-inline h2-font-wieght">{{recent.receiver.username}}</h2>
            <span class="time-stamp float-right" am-time-ago="recent.createdAt"></span>
            <p style="padding-top: 5px;">
                <img ng-if="recent.msgReached" src="images/Blue-tick2.png" class="tick-image-class">
                <span>{{recent.message}}</span>
            </p>
          </span>

          <span ng-if="recent.groupMessage == true" ng-click="changePath(recent.receiver)">
            <img ng-src="{{recent.receiver.profile_image}}">
            <h2 class="display-inline h2-font-wieght">{{recent.sender}}</h2>
            <span class="time-stamp float-right" am-time-ago="recent.createdAt"></span>
            <p style="padding-top: 5px;">
                <img src="images/Blue-tick2.png" class="tick-image-class">
                <span>{{recent.message}}</span>
            </p>
          </span>
      </a>
  </ion-list>
  </ion-content>
  <ion-footer-bar keyboard-attach="" class="bar-stable item-input-inset bar bar-footer" style="background:#848484;">
    <div class="" style="text-align: center;width: 100%;">
        <p style="margin-top: 10px;">Advt.</p>
    </div>
  </ion-footer-bar>
  <div class="float-right" id="settings-popup" ng-show="displaySideBar">
  	<ion-list style="background: #848484; height: 100%;">
  		<ion-item class="grey-background" ng-click="toggleSideBar()">
          <img class="settings-images" src="images/Main_Contacts.png" style="margin-top:40px !important;" alt="contact info" />
  			<span class="settings-text">Contact Info</span>
  		</ion-item>
  		<ion-item class="grey-background" ng-click="toggleSideBar()">
  			<img class="settings-images" src="images/Settings_Call.png" style="margin-top:20px !important;" alt="call" />
  			<span class="settings-text">Call</span>
  		</ion-item>
  		<ion-item class="grey-background" ng-click="toggleSideBar()">
  			<img class="settings-images" src="images/Settings_Block.png" style="margin-top:0px !important;" alt="block" />
  			<span class="settings-text">Block</span>
  		</ion-item>
  		<ion-item class="grey-background" ng-click="toggleSideBar()">
  			<img class="settings-images" src="images/Settings_Tools.png" style="margin-top:0px !important;" alt="settings" />
  			<span class="settings-text">Settings</span>
  		</ion-item>
  	</ion-list>
  </div>
</section>
