<style>

	.list {
		height: 31.5%;
	}

	::-webkit-input-placeholder {
    color:    #000;
}
:-moz-placeholder {
    color:    #000;
}
.chat {
    width: 100%;
}

.bubble{
    background-color: #F2F2F2;
    border-radius: 5px;
    box-shadow: 0 0 6px #B2B2B2;
    display: inline-block;
    padding: 10px 18px;
    position: relative;
    vertical-align: top;
}

.bubble::before {
    background-color: #F2F2F2;
    content: "\00a0";
    display: block;
    height: 16px;
    position: absolute;
    top: 11px;
    transform:             rotate( 29deg ) skew( -35deg );
        -moz-transform:    rotate( 29deg ) skew( -35deg );
        -ms-transform:     rotate( 29deg ) skew( -35deg );
        -o-transform:      rotate( 29deg ) skew( -35deg );
        -webkit-transform: rotate( 29deg ) skew( -35deg );
    width:  20px;
}

.me {
    float: left;
    margin: 5px 45px 5px 20px;
		background: #FFDDAB !important;
		max-width: 60%;
}

.me::before {
    box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
    left: -9px;
		background: #FFDDAB !important;
}

.you {
    float: right;
    margin: 5px 20px 5px 45px;
		background: #DCDCDC !important;
		max-width: 60%;
		display:block;
}

.you::before {
    box-shadow: 2px -2px 2px 0 rgba( 178, 178, 178, .4 );
    right: -9px;
		background: #DCDCDC !important;
}


	</style>
<section style="height: 100%;">
    	<ion-header-bar class="bar bar-header">
	      <button style="margin-top: 2%;" class="button button-icon icon button-back" ng-click="myGoBack()"></button>
	      <img ng-src="{{paramDetails.profile_image}}" class="chat-user-image" style="margin-top: 1%;">
	      <span class="chat-user-name" style="margin-top: 3% !important;">{{paramDetails.username}}</span>
<button class="button button-icon icon  close-button-setting custom-button-group toggle-class-left" style="margin-left:40%;width: 100%" ng-show="displaySideBar" ng-click="toggleSideBar()"></button>
				<button style="margin-top: 2%;margin-right: 20px;" class="button button-icon icon custom-button-group button-setting toggle-class-left chat-user-setting" ng-show="!displaySideBar" ng-click="toggleSideBar()"></button>
      </ion-header-bar>
			<ion-content>
      	<div style="text-align: center; font-weight: 600; margin-top: 3%;">Yesterday</div>
				<div class="chat" ng-repeat="msg in chatMessages">
					<div style="width: 100%;">
          	<div class="bubble me" ng-if="msg.from==userInfo.user_id && msg.to==paramDetails.user_id">{{msg.message}}<div style="float: right;font-size: 11px;margin-left: 20px;">9:40PM</div></div>
					</div>
					<div style="width: 100%;">
						<div class="bubble you" ng-if="msg.from==paramDetails.user_id && msg.to==userInfo.user_id">{{msg.message}}<div style="float: right;font-size: 11px;margin-left: 20px;">9:40PM</div></div>
					</div>
						<!--div style="width: 100%;">
								<div class="bubble me">
									<div>~ Rahul Kumar</div>Awesome.
										<div style="float: right;font-size: 11px;margin-left: 20px;">9:40PM</div>
									</div>
						</div>
					<div style="width: 100%;">
						<div class="bubble you">The layout of links in system messages in the chatlog pane when the customer hovers the mouse over the link.<div style="float: right;font-size: 11px;margin-left: 20px;">9:40PM</div></div>
					</div-->
				</div>
			</ion-content>

      <ion-footer-bar keyboard-attach="" class="bar-stable item-input-inset bar bar-footer">
				<button class="button button-icon icon button-show-attachemnt"
				ng-click="showAttachment()" style="margin-left: -1%;"></button>
				<input type="text" class="send-message-text-area" placeholder="Type message" ng-model="enterMessage">
				<button type="submit" class="emoticons-class"><img src="images/emoticon85.png" alt="Arrow Icon"></button>
        <button class="button button-clear" style="margin-left:0; width: 20%; margin-right: -3%;margin-top: 7px;" ng-click="sendMessage()">
				<img src="images/Send.png" alt="send" />
			</button>
    </ion-footer-bar>

	<div class="float-right" id="settings-popup" ng-show="displaySideBar">
  		<ion-list style="background: #848484; height: 100%;">
  			<ion-item class="grey-background">
                            <img class="settings-images" src="images/Main_Contacts.png" style="margin-top:40px !important;" alt="contact info" />
  				<span class="settings-text">Contact Info</span>
  			</ion-item>
  			<ion-item class="grey-background">
  				<img class="settings-images" src="images/Settings_Call.png" style="margin-top:20px !important;" alt="call" />
  				<span class="settings-text">Call</span>
  			</ion-item>
  			<ion-item class="grey-background">
  				<img class="settings-images" src="images/Settings_Block.png" style="margin-top:0px !important;" alt="block" />
  				<span class="settings-text">Block</span>
  			</ion-item>
  			<ion-item class="grey-background">
  				<img class="settings-images" src="images/Settings_Tools.png" style="margin-top:0px !important;" alt="settings" />
  				<span class="settings-text">Settings</span>
  			</ion-item>
  		</ion-list>
  	</div>
	</section>
