<style>
  div label {
    float: right;
    margin-right: 4%;
    height: 25px;
    width: 100%;
    margin-left: 20px;

  }
.item-select select{
  padding-right: 30px;
  padding-left: 5px;
  max-width: 100%;
}
</style>
<section>
  <ion-header-bar class="bar bar-header">
      <div class="ion-header" style="width: 100%">
          <div style="margin-top: 2%;">
              <button class="button button-icon icon button-back" ng-click="BacktoChat()" style="width: 40px;"></button>
              <input type="text" ng-model="search" class="search-area-class form-control" style="width: 52% !important" placeholder="Search...">
              <div class="list" style="float: right; max-width: 78%; width: 25%; display: inline-block; margin-top: -9%;">
                  <label class="item-input item-select">
                    <select ng-model="blockName" ng-change="blockNameSelected()">
                      <option ng-repeat="bName in blocks" ng-if="bName.type === 'default'">{{bName.block_name}}</option>
                      <option>All</option>
                    </select>
                </label>
              </div>
          </div>
      </div>
  </ion-header-bar>
<ion-content scroll="true">
    <ion-list>
      <span ng-repeat="block in blocks | limitTo:blockLimit"
      ng-if="block.type === 'default' && block.block_name === blockName
      && blockName !== 'All'">
        <a class="item item-avatar a-class-border"
        ng-repeat="user in block.users| filter:search | orderBy:'username' | limitTo:contactLimit" ng-click="changePath(user)">
            <img ng-src="{{user.profile_image}}">
            <h2 class="display-inline item-center-list h2-font-wieght">{{user.username}}</h2>
        </a>
      </span>
      <span ng-repeat="block in blocks | limitTo:blockLimit" ng-if="block.type === 'default' && blockName === 'All'">

        <a class="item item-avatar a-class-border"
        ng-repeat="user in block.users| filter:search | orderBy:'username' | limitTo:contactLimit"
        ng-click="changePath(user)">
            <img ng-src="{{user.profile_image}}">
            <h2 class="display-inline item-center-list h2-font-wieght">{{user.username}}</h2>
        </a>
      </span>
    </ion-list>
</ion-content>
<ion-footer-bar keyboard-attach="" class="bar-stable item-input-inset bar bar-footer" style="background:#848484;">
  <div class="" style="text-align: center;width: 100%;">
      <p style="margin-top: 10px;">Advt.</p>
  </div>
</ion-footer-bar>
</section>
