<section>
  <ion-header-bar class="bar bar-header">
    <div class="ion-header" style="width: 100%">
      <div class="">
        <button class="button button-icon icon button-back" ng-click="BacktoEditGroup()" style="margin-top: 10px;width: 40px;"></button>
        <button class="button chat-user-name" style="margin-top: 9px !important;">{{blockData.block_name}}</button>
        <button class="button button-icon icon button-create float-right" ng-click="SetGroup()" style="margin-top: 9px;width: 40px;"></button>
        <button class="button button-icon icon button-add-user-group edit-group-class float-right" ng-click="addContact()" style="margin-top: 9px;width: 40px;"></button>
      </div>
    </div>
  </ion-header-bar>
	<ion-content>
    <div class="create-group-div">
     <input type="text" ng-model="search" class="search-area-class-filter edit-search form-control" placeholder="Search...">
    </div>
    <ion-list>
      <a class="item item-avatar a-class-border" ng-click="changePath()" ng-repeat="data in blockData.users| filter: search | orderBy:'username'">
      <img ng-src="{{data.profile_image}}">
      <h2 class="display-inline item-center-list">{{data.username}}</h2>
      <button class="button button-icon button-select-user-activated icon custom-button-group float-right" ng-click="SelectUser($event, data.user_id)"></button>
      </a>
  </ion-list>
  </ion-content>
</section>
