
<section>
            <ion-header-bar class="bar bar-header">
                <div class="ion-header" style="width: 100%">

                    <div style="margin-top: 2%;">

                        <button class="button button-icon icon button-back" ng-click="BacktoChat()"></button>
                        <button class="button chat-user-name" style="margin-left: 10%; margin-top: -4px !important;">Groups</button>
                        <button class="button button-icon icon button-create-group float-right" ng-click="CreateGroup()"></button>
                    </div>

                </div>
            </ion-header-bar>
            <ion-content>
                <div class="default-group-class" style="padding-top: 10px;">
                    Default
                </div>
                <ion-list class="js-dynamitable">
                    <a class="item item-avatar a-class-border">
                        <img src="images/satya.jpg" style="margin-top: 10px;">
                        <h2 class="display-inline item-center-list h2-font-wieght" style="width:60%;margin-top: 8px;" ng-click="changePath()">Satya</h2>
                        <button class="button button-icon icon button-expand-group custom-button-group float-right" ng-click="expandGroup()"></button>

                    </a>
                    <a class="item item-avatar a-class-border">
                        <img src="images/sundar.jpg" style="margin-top: 10px;">
                        <h2 class="display-inline item-center-list h2-font-wieght" style="width:60%;margin-top: 8px;" ng-click="changePath()">Sundar</h2>
                        <button class="button button-icon icon button-expand-group custom-button-group float-right" ng-click="expandGroup()"></button>

                    </a>
                    <a class="item item-avatar a-class-border">
                        <img src="images/turing.jpg" style="margin-top: 10px;">
                        <h2 class="display-inline item-center-list h2-font-wieght" style="width:60%;margin-top: 8px;" ng-click="changePath()">Alan Turing</h2>
                        <button class="button button-icon icon button-expand-group custom-button-group float-right" ng-click="expandGroup()"></button>

                    </a>
                    </ion-list>
                <ion-list>
                    <div class="default-group-class" style="height: 27px;">
                    Personal
                </div>
                    <a class="item item-avatar a-class-border">
                        <img src="images/rajni.jpg" style="margin-top: 10px;">
                        <h2 class="display-inline item-center-list h2-font-wieght" style="width:60%;margin-top: 8px;" ng-click="changePath()">Rajni</h2>
                        <button class="button button-icon icon button-expand-group custom-button-group float-right" ng-click="expandGroup()"></button>

                    </a>
                    <a class="item item-avatar a-class-border">
                        <img src="images/ram.jpeg" style="margin-top: 10px;">
                        <h2 class="display-inline item-center-list h2-font-wieght" style="width:60%;margin-top: 8px;" ng-click="changePath()">Ramanujan</h2>
                        <button class="button button-icon icon button-expand-group custom-button-group float-right" ng-click="expandGroup()"></button>

                    </a>
                    <a class="item item-avatar a-class-border">
                        <img src="images/elon.jpg" style="margin-top: 10px;">
                        <h2 class="display-inline item-center-list h2-font-wieght" style="width:60%;margin-top: 8px;" ng-click="changePath()">Elon Musk</h2>
                        <button class="button button-icon icon button-expand-group custom-button-group float-right" ng-click="expandGroup()"></button>
                    </a>

                </ion-list>
            </ion-content>
            <ion-footer-bar keyboard-attach="" class="bar-stable item-input-inset bar bar-footer" style="background:#848484;">
                <div class="" style="text-align: center;width: 100%;">
                    <p style="margin-top: 10px;">Advt.</p>
                </div>
                </ion-footer-bar>

</section>
