<style type="text/css">
	
	span > img{
  top: 16px;
  left: 16px;
  max-width: 40px;
  max-height: 40px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
</style>


<div class="">

<div class="">
<span><img ng-src="{{OtherUserInfo.data.ProfileImage}}"></span>
<span style="margin-left: 60px;">{{OtherUserInfo.data.Fname}} {{OtherUserInfo.data.Lname}}</span>
<div>Email : {{OtherUserInfo.data.Email}}</div>
<div>Flat Number : {{OtherUserInfo.data.FlatNumber}}</div>
<div>Block Name : {{OtherUserInfo.data.BlockName}}</div>
</div>
</div>