
.logo img {
  height: 150px;
  width: 33%;
  margin-bottom: 30px;
  float:left;
  margin-left: 33%;
}
.welcome-img img {
  height: 25px;
  width: 100%;
  margin-bottom: 20px;
}
.toggle-class-left
{
    float: right;
}
.group-image-height
{
    width: 60px;
    height: 60px;
}
*::-webkit-input-placeholder {
    color: black !important;
}
*::-moz-placeholder {
 color: #000 !important;
}
.padding-left-20px
{
    padding-left: 20px;
}
.margin-top-10
{
    margin-top: 10px;
}
.item-center-list
{
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -moz-box !important;
    display: -moz-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    -webkit-align-items: center !important;
    -moz-align-items: center !important;
    align-items: center !important;
    position: absolute !important;
    top: 0 !important;
    height: 100% !important;
}
.add-group-custom-text-class
{
    margin-top: 20px;
    color: red;
}
.group-text-area
{
    width: 80% !important;
    margin-left: 80px;
    margin-top: -50px;
    background: white !important;
    border-bottom-color: black !important;
    color: black !important;
}
.other-user-chat
{
    background: #DCDCDC !important;
    display: inline-block !important;
    color: #000 !important;
    padding: 10px !important;
    text-align: left !important;
    max-width: 240px !important;
    margin-top: 35px !important;
    border: 3px solid #848484;
}
.text-align
{
    text-align: center;
}
.login-user-name-color
{
    background: #F15A25 !important;
    width: 300px !important;
    margin: 0 auto !important;
}
.padding-left-chat
{
    padding-left: 15px;
}
.padding-right-chat
{
    padding-right: 15px;
}
.my-chat
{
    background: #FFDDAB !important;
    padding: 10px !important;
    margin-top: 35px !important;
    text-align: left !important;
    max-width: 240px !important;
    border: 3px solid #F15A25;
}
.custom-input-wrapper-text-message
{
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    margin-left: 20px !important;
    margin-right: 10px !important;
}
.send-message-class
{
    background: #F15A25 !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    font-size: 16px !important;
    padding-top: 0px;
}
.search-area-class
{
    margin-top: -32px;
    width: 80% !important;
    margin-left: 42px;
    background: #fff !important;
    border:  2px solid #DCDCDC !important;
    color: #000 !important;
}
.chat-user-setting
{
    margin-top: 0;
    margin-left: 32% !important;
}
.button-user-image
{
    background:url(images/satya.jpg) no-repeat;
}
.username img {
  height: 15px;
  width: 90px;
}
.password img {
  height: 15px;
  width: 90px;
}
.forgot-password a {
  color: #ffa500;
  /*color: rgba(853, 292, 885, 680);*/
  font-weight: bold;
  float: right;
  font-size: 18px;
  text-decoration: none;
}
#login-button {
  background-image: url('images/Rounded Rectangle 2.png') !important;
  background-position: -3px;
  height: 45px;
  width: 100%;
  margin-top: 30%;
}
#login-text {
  color: #fff;
}
*::-webkit-input-placeholder {
  color: #000 !important;
}
*::-moz-placeholder {
 color: #000 !important;
}
input[type="text"], input[type="password"] {
  border-bottom: 1px solid #fff;
  background: #848484;
  padding-left: 10px;
  width: 100%;
  color: #fff;
}
.new-group img {
  margin-top: 13%;
  height: 55px;
  border-radius: 50%;

}
.group-back-button
{
    font-size: 30px !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    padding-left: 20px !important;
    cursor:pointer !important;
}
.new-group {
  margin-left: 2%;
}

.bar-header {
  background: #F16A24;
}
.h1 {
  color: #fff;
}
.display-inline {
	display: inline;
}
.time-stamp {
	font-size: 75%;
}
.float-right {
	float: right;
}
.float-left {
  float: left;
}
.login-custom-class
{
    width: 300px !important;
    height: 40px !important;
    margin-top: 40px !important;
    background:#3b5998 !important;
    border-color:#3b5998 !important;
    border: 0;
    color: white;
    font-size: 20px;
}
.button-setting
{
    background:url(images/Settings_32.png) no-repeat;
}
.close-button-setting {
  background: url(images/Settings_Close_32.png) no-repeat;
}
.button-search
{
     background:url(images/Search_32.png) no-repeat;

}
.button-user
{
     background:url(images/Main_Contacts_32.png) no-repeat;

}
.button-group
{
     background:url(images/Group_32.png) no-repeat;

}
.button-show-attachemnt
{
  background:url(images/Attach_32.png) no-repeat !important;
  height: 32px;
  width: 32px;
}
.button-back
{
    background:url(images/Back_32.png) no-repeat;
    cursor: pointer;
    border: none;
    height: 32px;
    width: 32px;
}
.emoticons-class
{
    height: 34px;
    background: #fff;
    border: 1px solid #fff;
}
.custom-button-group
{
    cursor: pointer;
    border: none;
    height: 32px;
    width: 32px;
    margin-left: 25px;
}
.tick-image-class
{
    height: 12px;
    padding-right: 5px;
}
.send-message-text-area
{
    margin-left: 15px;
    background: #fff !important;
    border: 2px solid #848484 !important;
    color: #000 !important;
}
.a-class-border
{
    border-bottom: 2px solid #DCDCDC
}
.chat-user-image
{
    height: 93%;
    border-radius: 50%;
    margin-left: 5%;
}
.chat-user-name
{
    background: #F16A24 !important;
    color: white !important;
    font-size: 1.5em !important;
    margin-top: 2% !important;
    font-weight: bold !important;
    margin-left: 4%;
}
.attachment-popup {
  /*margin-top: 18% !important;*/
  z-index: 100;
}
.attachment-popup div {
  width: 100%;
  border: 2px solid #848484;
  overflow: hidden;
  border-left: none;
  border-right: none;
}

.attachment-popup div span {
  width: 50%;
}

.attachment-popup div span img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}
.settings-images {
  display: block;
  margin: auto;
}
.settings-text {
  display: block;
  text-align: center;
  color: #fff;
}
#settings-popup {
  margin-top: 44px;
  position: relative;
  height: 100%;
}
.grey-background {
  background: #848484;
  border-color: #848484;
  height: 70%;
  width: 100%;
  vertical-align: middle;
}
